@model IEnumerable<LexiconLMS.Models.ViewModels.scheduleViewModel>

@{
    ViewBag.Title = "Details";
}

@*<h2>Schedual: @Html.DisplayFor(model => model.)</h2>*@
<h3>This will show the complete schedule or the current week/day </h3>

<div>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.EventName)</th>
            <th>@Html.DisplayNameFor(model => model.EventSummary)</th>
            <th>@Html.DisplayNameFor(model => model.EventDate)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EventName)</td>
                <td>@Html.DisplayFor(modelItem => item.EventSummary)</td>
                <td>@Html.DisplayFor(modelItem => item.EventDate)</td>
            </tr>
        }

    </table>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
