@model IEnumerable<LexiconLMS.Models.Group>

@{
    ViewBag.Title = "Index Admin";
}

<div class="content container">
    <div class="row">
        <div class="col-md-7">
        <p>Main content here</p>

        </div><!-- .col-md-7 -->
        <div class="col-md-5">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.schedule.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.schedule.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Group Page", "Details", "Groups", new { id = item.Id }, null) |
                            @Html.ActionLink("Delete", "Delete", "Groups", new { id = item.Id }, null)
                        </td>
                    </tr>
                }

            </table>
        </div><!-- .col-md-5 -->
    </div><!-- .row -->
</div><!-- .content -->



