@model LexiconLMS.Models.Event

@{
    ViewBag.Title = "Delete";
    var link = ViewBag.sid;
    string date = Model.Date.Date.ToString("yyyy/MM/dd");
    string dayTime = "";
    string currentUrl = Request.Url.ToString();
    switch (Model.Time)
    {
        case 1:
            dayTime = "Morning";
            break;
        case 2:
            dayTime = "Afternoon";
            break;
        case 3:
            dayTime = "Whole Day";
            break;
        default:
            break;
    }
}
<div class="pageNav navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navPage">
            @*THE ADD EVENT BUTTON - ONLY VISIBLE FOR THE ADMIN ROLE*@
            @if (!User.IsInRole("admin"))
            {
                <li>Morning@Html.ActionLink("Cancel", "Details", new { id = Model.Id })</li>
            }
        </ul><!-- .nav .navbar-nav -->
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-8">
            <h3>Delete: <strong>@Html.DisplayFor(model => model.Name)</strong></h3>
            <hr />
            <div>
                <p>
                    You are about to delete the event: <strong>@Html.DisplayFor(model => model.Name)</strong>
                </p>
                <p>Are you sure you want to do this?</p>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            }
        </div><!-- .col-md-8 -->
        <div class="col-md-4 sideBlock">
            <div class="currentBlock">
                <h5>@Html.DisplayFor(model => model.Name)</h5>
            </div>
            <div class="currentBlock">
                <p>@Html.DisplayFor(model => model.Summary)</p>
            </div>
            <div class="currentBlock">
                <p>@date</p>
            </div>
            <div class="currentBlock">
                <p>@dayTime</p>
            </div>
            <div class="currentBlock">
                <p>@Html.DisplayFor(model => model.Schedules.Name)</p>
            </div>
        </div>
    </div><!-- .row -->
</div><!-- . container -->
