@model LexiconLMS.Models.Event

@{
    ViewBag.Title = "Details";
    var link = ViewBag.sid;
    string date = Model.Date.Date.ToString("yyyy/MM/dd");
    string dayTime = "";
    switch(Model.Time)
    {
        case 1:
            dayTime = "Morning";
            break;
        case 2:
            dayTime = "Afternoon";
            break;
        case 3:
            dayTime = "Whole Day";
            break;
        default:
            break;
    }
}
<div class="pageNav navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navPage">
            @*THE ADD EVENT BUTTON - ONLY VISIBLE FOR THE ADMIN ROLE*@
            @if (User.IsInRole("admin"))
            {
                <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</li>
                <li>@Html.ActionLink("Delete", "Delete", new {id = Model.Id})</li>
            }
            <li>@Html.ActionLink("Back", "Details", "Schedules", new { id = Model.ScheduleId }, null )</li>
            
        </ul><!-- .nav .navbar-nav -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3><strong>@Html.DisplayFor(model => model.Name)</strong></h3>
        <hr />
            <p>@Html.DisplayFor(model => model.Summary)</p>
        </div><!-- .col-md-8 -->
        <div class="col-md-4 sideBlock">
        <h4>Date: @date</h4>
        <p>@Html.DisplayFor(model => model.Date.DayOfWeek), @dayTime</p>
        </div><!-- .col-md-4 -->
    </div><!-- .row -->
</div><!-- .container -->


