@model LexiconLMS.Models.Event
@using LexiconLMS.Helpers

@{
    ViewBag.Title = "Edit";
    var link = ViewBag.sid;
    string date = Model.Date.Date.ToString("yyyy/MM/dd");
    string dayTime = "";
    string currentUrl = Request.Url.ToString();
    switch (Model.Time)
    {
        case 1:
            dayTime = "Morning";
            break;
        case 2:
            dayTime = "Afternoon";
            break;
        case 3:
            dayTime = "Whole Day";
            break;
        default:
            break;
    }
}

<div class="pageNav navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navPage">
                <li>@Html.ActionLink("Cancel", "Details", new { id = Model.Id })</li>
        </ul><!-- .nav .navbar-nav -->
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Edit: <strong>@Html.DisplayFor(model => model.Name)</strong></h3>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->

    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ScheduleId, "ScheduleId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ScheduleId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ScheduleId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div><!-- .col-md-8 -->
        <div class="col-md-4 sideBlock">
            <div class="currentBlock">
                <h5>@Html.DisplayFor(model => model.Name)</h5>
            </div>
            <div class="currentBlock">
                <p>@Html.DisplayFor(model => model.Summary)</p>
            </div>
            <div class="currentBlock">
               <p>@date</p>
            </div>
            <div class="currentBlock">
                <p>@dayTime</p>
            </div>
            <div class="currentBlock">
                <p>@Html.DisplayFor(model => model.Schedules.Name)</p>
            </div>

        </div><!-- .col-md-6 -->
    </div><!-- .row -->
</div><!-- .container-->


