@model IEnumerable<LexiconLMS.ViewModels.GroupUsersViewModels>

@{
    ViewBag.Title = "Details";
}

    @{var aitem = Model.FirstOrDefault();}
    <h2>@ViewBag.GName</h2>
@{int groupId = ViewBag.GId;}
@using (Html.BeginForm()) {
    <table class="table">
        <tr>
            <th>UserName</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Remove</th>
            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Fname)</td>
                <td>@Html.DisplayFor(modelItem => item.Lname)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <input type="checkbox" name="Select" value=@item.auId />
                </td>
            </tr>
        }
        <tr>
            <td>@Html.ActionLink("Add User", "AddUser/" + @groupId, "Groups", null, null)</td> 
            <td></td>
            <td></td>
            <td></td>
            <td><input type="submit" value="Remove theese users" /></td>
        </tr>
    </table>

}
